*{
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
    align-items: center;
}
.bg{
    position: fixed;
    background-color: rgb(105, 168, 231);
    height: 100vh;
    width: 100vw;
    z-index: -1;
}
.logo{
    object-fit: contain;
    height: 45px;
    width: 45px;
    margin-right: 2%;
    border-radius: 25px;
    box-shadow: 0 0 5px;
}
header{
    background-color:  rgb(30, 30, 120);
    height: 65px;
    width: 100vw;
    justify-content: space-between;
}
.menu_icon{
    padding: 3%;
}
.bar{
    width: 35px;
    height: 5px;
    background-color: rgb(0, 0, 0);
    margin: 6px 0;
    transition-duration: 0.3s;
}
.menu_icon:hover .bar1{
    transform-origin: right;
    translate: -5px -1.5px;
    rotate: -45deg;
}
.menu_icon:hover .bar2{
    rotate: y 90deg;
}
.menu_icon:hover .bar3{
    transform-origin: right;
    translate: -5px 1.5px;
    rotate: 45deg;
}
.menu{
    background-color: rgb(45, 0, 69);
    color:beige;
    transition-duration: 300ms;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 65px;
    width: 200px;
    height:0;
    overflow: hidden;
}
.menu a{
    box-sizing: border-box;
    padding: 10px 0 10px 20px;
    font-size: xx-large;
    transition-duration: 300ms;
    text-decoration: none;
    color:rgb(255, 255, 255);
}
.menu:hover a{
    opacity: 0.25;
}
.menu a:hover{
    opacity: 1;
    scale: 1.05;
}
.menu_icon:hover .menu{
    height: 180px;
}

.search{
    position: relative;
    height: 100%;
    width: min(60vw, 700px);
    justify-content: center;
}
.search_bar{
    padding: 0 0 0 2vh;
    background-color: rgb(255, 255, 255);
    height: 45px;
    width:100%;
    border-radius: 30px;
    border: none;
    font-size: 20px;
}
.search_button{
    position: absolute;
    right: 0;
    height: 40px;
    width: 6vh;
    border: none;
    background-color: white;
    border-radius: 0 4vh 4vh 0 ;
    border-left: 3px solid rgba(0, 0, 0, 0.219);
}

main{
    background-color: rgba(255, 255, 255, 0.064);
    width: 100vw;
    height: max(30vh, 40vw);
    justify-content: space-between;
}
.prev, .next{
    background-image: linear-gradient(90deg,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0));
    border-radius: 0 10px 10px 0;
    width: 10%;
    height: 100%;
}
.next{
    rotate: 180deg;
}

footer{
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100vw;
    background-color: rgb(169, 169, 169);
}
footer > div{
    margin: 0 1px;
    box-sizing: border-box;
    height: 100%;
    width: 25%;
    background-color: rgb(30, 30, 120);
}
.current{
    border-bottom: 7px solid rgb(26, 255, 0);
    background-image: linear-gradient( rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.196));
}